.navbar{
    font-size: 20px;
    

}
.navbar-brand{
font-size: 20px;
}
.navbar{
background-color: brown;
text-decoration: white;
}      
.items{

font-size: 4rem;
}
.nav-link:hover{
    background:  #ffd70f;
    border-radius: 7px;

}
.itsme h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 40px;
    color: blue;
}
.itsme p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;

}
.itsme{
    margin-top: 10%;
    margin-left: 10%;
}
.btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    margin-left: 10px;

}
.feature-img{
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 180px;
}
.img-fluid{
    width: 500px;
    height: 800px;
    border: #fff;
    margin: 3px;
    border-radius: 4px;
}
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
.ffe{
    font-style: italic;
    font-size: 2rem;
}
.endf{
    background-color: #ff8400;
    height: 70px;
    margin-left: 20px;
    font-size: 1rem;
    text-align: center;
    font-size: 25px;
}
.endf h6{
font-size: 25px;
}
